@model MonitoringAndEvaluationPlatform.Models.Program

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionCode" class="control-label"></label>
                <select asp-for="RegionCode" class="form-control" asp-items="ViewBag.Region"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedBudget" class="control-label"></label>
                <input asp-for="EstimatedBudget" class="form-control" />
                <span asp-validation-for="EstimatedBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealBudget" class="control-label"></label>
                <input asp-for="RealBudget" class="form-control" />
                <span asp-validation-for="RealBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend" class="control-label"></label>
                <input asp-for="Trend" class="form-control" />
                <span asp-validation-for="Trend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManagerCode" class="control-label"></label>
                <select asp-for="ProjectManagerCode" class="form-control" asp-items="ViewBag.ProjectManager"></select>
            </div>

            <div class="form-group">
                <label asp-for="SuperVisorCode" class="control-label"></label>
                <select asp-for="SuperVisorCode" class="form-control" asp-items="ViewBag.SuperVisor"></select>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status1" class="control-label"></label>
                <input asp-for="Status1" class="form-control" />
                <span asp-validation-for="Status1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status2" class="control-label"></label>
                <input asp-for="Status2" class="form-control" />
                <span asp-validation-for="Status2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinistrieCode" class="control-label"></label>
                <select asp-for="MinistrieCode" class="form-control" asp-items="ViewBag.Ministrie"></select>
            </div>

            <div class="form-group">
                <label asp-for="DonorCode" class="control-label"></label>
                <select asp-for="DonorCode" class="form-control" asp-items="ViewBag.Donor"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="performance" class="control-label"></label>
                <input asp-for="performance" class="form-control" />
                <span asp-validation-for="performance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisbursementPerformance" class="control-label"></label>
                <input asp-for="DisbursementPerformance" class="form-control" />
                <span asp-validation-for="DisbursementPerformance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldMonitoring" class="control-label"></label>
                <input asp-for="FieldMonitoring" class="form-control" />
                <span asp-validation-for="FieldMonitoring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpactAssessment" class="control-label"></label>
                <input asp-for="ImpactAssessment" class="form-control" />
                <span asp-validation-for="ImpactAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}