@model MonitoringAndEvaluationPlatform.Models.DonorCountry

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ResultsFrameworkLayout.cshtml";
}

<h1>Edit</h1>

<h4>DonorCountry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndicatorsPerformance" class="control-label"></label>
                <input asp-for="IndicatorsPerformance" class="form-control" />
                <span asp-validation-for="IndicatorsPerformance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisbursementPerformance" class="control-label"></label>
                <input asp-for="DisbursementPerformance" class="form-control" />
                <span asp-validation-for="DisbursementPerformance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldMonitoring" class="control-label"></label>
                <input asp-for="FieldMonitoring" class="form-control" />
                <span asp-validation-for="FieldMonitoring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpactAssessment" class="control-label"></label>
                <input asp-for="ImpactAssessment" class="form-control" />
                <span asp-validation-for="ImpactAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

