@model MonitoringAndEvaluationPlatform.Models.Sector
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SetUpLayout.cshtml";
}
@{
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var culture = requestCultureFeature.RequestCulture.Culture.Name;
}

<h1>Details</h1>

<div>
    <h4>Sector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @if (culture.StartsWith("ar"))
            {
                <strong>@Html.DisplayFor(model => model.AR_Name)</strong>
            }
            else
            {
                <strong>@Html.DisplayFor(model => model.EN_Name)</strong>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
