@model IEnumerable<MonitoringAndEvaluationPlatform.Models.SuperVisor>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_SetUpLayout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td class="text-end">
					<div class="btn-group" role="group">
						<a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-sm btn-outline-warning" title="Edit">
							<i class="fas fa-edit"></i>
						</a>
						<a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-sm btn-outline-danger" title="Delete">
							<i class="fas fa-trash-alt"></i>
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
