@model MonitoringAndEvaluationPlatform.Models.Indicator

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ResultsFrameworkLayout.cshtml";
}

<h1>Edit</h1>

<h4>Indicator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IndicatorCode" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="Trend" class="control-label"></label>
                <input asp-for="Trend" class="form-control" />
                <span asp-validation-for="Trend" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="IndicatorsPerformance" class="control-label"></label>
                <input asp-for="IndicatorsPerformance" class="form-control" />
                <span asp-validation-for="IndicatorsPerformance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubOutputCode" class="control-label"></label>
                <select asp-for="SubOutputCode" class="form-control" asp-items="ViewBag.SubOutputCode"></select>
                <span asp-validation-for="SubOutputCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

