@model MonitoringAndEvaluationPlatform.ViewModel.CreateProjectViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProjectsLayout.cshtml";
}
<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionCode" class="control-label"></label>
                <select asp-for="RegionCode" class="form-control" asp-items="ViewBag.Region"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManagerCode" class="control-label"></label>
                <select asp-for="ProjectManagerCode" class="form-control" asp-items="ViewBag.ProjectManager"></select>
            </div>

            <div class="form-group">
                <label asp-for="SuperVisorCode" class="control-label"></label>
                <select asp-for="SuperVisorCode" class="form-control" asp-items="ViewBag.SuperVisor"></select>
            </div>
            <div class="form-group">
                <label asp-for="MinistryCode" class="control-label"></label>
                <select asp-for="MinistryCode" class="form-control" asp-items="ViewBag.Ministry"></select>
            </div>

            <div class="form-group">
                <label asp-for="DonorCode" class="control-label"></label>
                <select asp-for="DonorCode" class="form-control" asp-items="ViewBag.Donor"></select>
            </div>
@*             <div class="form-group">
                <label asp-for="EstimatedBudget" class="control-label"></label>
                <input asp-for="EstimatedBudget" class="form-control" />
                <span asp-validation-for="EstimatedBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealBudget" class="control-label"></label>
                <input asp-for="RealBudget" class="form-control" />
                <span asp-validation-for="RealBudget" class="text-danger"></span>
            </div> *@

            @*       
                     <div class="form-group">
                <label asp-for="Trend" class="control-label"></label>
                <input asp-for="Trend" class="form-control" />
                <span asp-validation-for="Trend" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            *@
      
        
       
      @*       <div class="form-group">
                <label>Select Indicators</label>
                <select name="selectedIndicators" class="form-control" multiple>
                    @foreach (var indicator in ViewBag.Indicators)
                    {
                        <option value="@indicator.Code">@indicator.Name</option>
                    }
                </select>
            </div> *@
            <div class="form-group">
                <label>Select Frameworks</label>
                @foreach (var fw in Model.AvailableFrameworks)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               name="SelectedFrameworkIds"
                               value="@fw.Code"
                               id="fw_@fw.Code" />
                        <label class="form-check-label" for="fw_@fw.Code">
                            @fw.Name
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}